<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ryanrvldo.moviecatalogue"
    tools:ignore="AllowBackup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ui.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ryanrvldo.moviecatalogue.ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ryanrvldo.moviecatalogue.ui.detail.SeasonsActivity" />
        <activity android:name="com.ryanrvldo.moviecatalogue.ui.newRelease.NewReleaseActivity" />
        <activity android:name="com.ryanrvldo.moviecatalogue.ui.MainActivity" />

        <receiver android:name="com.ryanrvldo.moviecatalogue.widget.FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_image_widget_info" />
        </receiver>
        <receiver
            android:name="com.ryanrvldo.moviecatalogue.notification.ReminderReceiver"
            android:enabled="true" />

        <activity android:name="com.ryanrvldo.moviecatalogue.ui.search.SearchActivity" />
        <activity android:name="com.ryanrvldo.moviecatalogue.ui.detail.MovieDetailsActivity" />
        <activity android:name="com.ryanrvldo.moviecatalogue.ui.detail.TvShowDetailsActivity" />

        <service
            android:name="com.ryanrvldo.moviecatalogue.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>